body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .rectangle {
    width: 100px;
    height: 120px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .top-left {
    background-color: rgba(26, 126, 159, 0.703);
  }
  .top-center {
    background-color: rgba(65, 119, 65, 0.801);
  }
  .top-right {
    background-color: rgba(239, 235, 5, 0.868);
  }
  .middle-left {
    background-color: rgb(238, 84, 84);
  }
  .middle-center {
    background-color: #eb60a1;
  }
  .middle-right {
    background-color: #157d5ee7;
  }
  .bottom-left {
    background-color: rgb(122, 91, 122);
  }
  .bottom-center {
    background-color: #54d4a3;
  }
  .bottom-right {
    background-color: #54bb37;
  }
  .rectangle:hover {
    transform: scale(1.1);
  }
  